<tr class="ajxu-{{ bundle }}Bundle{{ entite }}{{ ligne.id }}" data-prototype="{{ url('listeEntiteLigne', {'entite': bundle ~ 'Bundle' ~ entite, 'id': ligne.id}) }}">
	{% include "LaboTestmanuBundle:tableau:col_texteCentre.html.twig" with {"texte": ligne.id} %}
	{% if is_granted("ROLE_SUPER_ADMIN") %}
	{% include "LaboTestmanuBundle:tableau:col_actions.html.twig" %}
	{% endif %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"texte": ligne.reference} %}
	{% include "LaboTestmanuBundle:tableau:col_euro.html.twig" with {"euro": "???"} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"date": ligne.dateCreation} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"date": ligne.dateMaj} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"texte": ligne.ver} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"texte": ligne.phase} %}
	{% if ligne.annulee == 0 %}{% set etat = "Active" %}{% set label = "success" %}{% else %}{% set etat = "Annulée" %}{% set label = "warning" %}{% endif %}
	<td><span class="label label-{{ label }}">{{ etat }}</span></td>
</tr>
