<tr class="ajxu-{{ bundle }}Bundle{{ entite }}{{ ligne.id }}" data-prototype="{{ url('listeEntiteLigne', {'entite': bundle ~ 'Bundle' ~ entite, 'id': ligne.id}) }}">
	{% include "LaboTestmanuBundle:tableau:col_texteCentre.html.twig" with {"texte": ligne.id} %}
	<td>{% if ligne.image != null %}
		<a href="{{ asset('images/original/' ~ ligne.image.fichierNom) }}" class="fancybox" title="{{ ligne.image.nom }}">
			<img src="{{ asset('images/tn64/' ~ ligne.image.fichierNom) }}" width="32" height="32" class="img-thumbnail" />
		</a>
	</td>{% endif %}
	{% include "LaboTestmanuBundle:tableau:col_actions.html.twig" %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'nom'} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'accroche', "short": 30} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'descriptif', "short": 60} %}
	{% include "LaboTestmanuBundle:tableau:col_labels.html.twig" with {"labels": ligne.categorie} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"date": ligne.dateCreation} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"date": ligne.dateMaj} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"date": ligne.dateExpiration} %}
	{% include "LaboTestmanuBundle:tableau:col_statut.html.twig" with {"statut": ligne.statut} %}
</tr>
