<tr class="ajxu-LaboBundle{{ entiteName }}{{ ligne.id }}" data-prototype="{{ url('listeEntiteLigne', {'classEntite': 'LaboBundle' ~ entiteName, 'id': ligne.id}) }}">
	<td>
		<a href="{{ asset('images/original/' ~ ligne.fichierNom) }}" class="fancybox" title="{{ ligne.nom }}">
			<img src="{{ asset('images/tn64/' ~ ligne.fichierNom) }}" width="64" height="64" class="img-thumbnail" />
		</a>
	</td>
	{% include "LaboTestmanuBundle:tableau:col_actions.html.twig" %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"value": ligne.nom} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"value": ligne.descriptif, "short": 50} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"value": ligne.dateCreation} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"value": ligne.dateMaj} %}
	{% include "LaboTestmanuBundle:tableau:col_statut.html.twig" with {"statut": ligne.statut} %}
</tr>
