<tr class="ajxu-{{ bundleNameEntiteName }}{{ ligne.id }}" data-prototype="{{ url('listeEntiteLigne', {'classEntite': bundleNameEntiteName, 'id': ligne.id}) }}">
	{% include "LaboTestmanuBundle:tableau:col_texteCentre.html.twig" with {"texte": ligne.id} %}
	<td>{% if ligne.imagePpale != null %}
		<a href="{{ asset('images/original/' ~ ligne.imagePpale.fichierNom) }}" class="fancybox" title="{{ ligne.imagePpale.nom }}">
			<img src="{{ asset('images/tn64/' ~ ligne.imagePpale.fichierNom) }}" width="32" height="32" class="img-thumbnail" />
		</a>{% endif %}
	</td>
	{% include "LaboTestmanuBundle:tableau:col_actions.html.twig" %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"ligne": ligne, "value": nom'} %}
	{% set TVA = ligne.prix * ligne.tauxTVA.taux / 100 %}
	{% include "LaboTestmanuBundle:tableau:col_euro.html.twig" with {"obj": ligne, "texte": 'prixHT'} %}
	{% include "LaboTestmanuBundle:tableau:col_taux.html.twig" with {"taux": ligne.tauxTVA.taux} %}
	{% include "LaboTestmanuBundle:tableau:col_euro.html.twig" with {"euro": TVA} %}
	{% include "LaboTestmanuBundle:tableau:col_euro.html.twig" with {"obj": ligne, "texte": 'prix'} %}
	{% include "LaboTestmanuBundle:tableau:col_texteCentre.html.twig" with {"texte": ligne.ventes} %}
	{% include "LaboTestmanuBundle:tableau:col_texteCentre.html.twig" with {"texte": ligne.rank} %}
	{% include "LaboTestmanuBundle:tableau:col_texteCentre.html.twig" with {"texte": ligne.notation} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"date": ligne.dateCreation} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"date": ligne.dateMaj} %}
	{% include "LaboTestmanuBundle:tableau:col_date.html.twig" with {"date": ligne.dateExpiration} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'refFabricant'} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"texte": "---"} %}
	{% include "LaboTestmanuBundle:tableau:col_statut.html.twig" with {"statut": ligne.statut} %}
</tr>
