<tr class="ajxu-{{ bundle }}Bundle{{ entite }}{{ ligne.id }}" data-prototype="{{ url('listeEntiteLigne', {'entite': bundle ~ 'Bundle' ~ entite, 'id': ligne.id}) }}">
	{% include "LaboTestmanuBundle:tableau:col_texteCentre.html.twig" with {"texte": ligne.id} %}
	<td>{% if ligne.image != null %}
		<a href="{{ asset('images/original/' ~ ligne.image.fichierNom) }}" class="fancybox" title="{{ ligne.image.nom }}">
			<img src="{{ asset('images/tn64/' ~ ligne.image.fichierNom) }}" width="32" height="32" class="img-thumbnail" />
		</a>
	</td>{% endif %}
	{% include "LaboTestmanuBundle:tableau:col_actions.html.twig" %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'nommagasin'} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'responsable', "short": 30} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'code'} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'cp'} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'ville', "short": 50} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'typemagasin'} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'telmobile'} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'telephone'} %}
	{% include "LaboTestmanuBundle:tableau:col_texte.html.twig" with {"obj": ligne, "texte": 'item'} %}
	{% include "LaboTestmanuBundle:tableau:col_statut.html.twig" with {"statut": ligne.statut} %}
</tr>
