{% block nav %}
{% if is_granted("ROLE_EDITOR") %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		{% if app.session.get('aetools').bundleName == 'LaboBundle' %}{% set rte = 'acme_site_home' %}{% else %}{% set rte = 'labo_home' %}{% endif %}
		<a class="navbar-brand" href="{{ url(rte) }}?versionDefine={{ app.session.get('version').slug }}">{{ app.session.get('version').nom }}</a>
	</div>
	{% if is_granted("ROLE_ADMIN") %}
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				{% if app.session.get("version").shutdown != null %}{% set ver = "Tous sites" %}{% else %}{% set ver = app.session.get('version').nom %}{% endif %}
				<a href="{{ url('acme_site_home') }}?versionDefine={{ app.session.get('version').slug }}" class="dropdown-toggle" data-toggle="dropdown">{{ ver }} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url('labo_page_entite', {action: 'liste', classEntite: Url_encode('version')}) }}">Editer versions</a></li>
					<li class="divider"></li>
					{% for key,site in app.session.get("version").liste %}
					{% if key == app.session.get("version").slug and app.session.get("version").shutdown == null %}{% set check = ' class="disabled"' %}{% else %}{% set check = '' %}{% endif %}
					{% if app.session.get('aetools').bundleName == 'LaboBundle' %}{% set rte = 'labo_home' %}{% else %}{% set rte = 'acme_site_home' %}{% endif %}
					<li{{ check|raw }}><a href="{{ url(rte) }}?versionDefine={{ key }}">{{ site }}</a></li>
					{% endfor %}
					<li class="divider"></li>
					{% if app.session.get("version").shutdown != null %}{% set check = ' class="disabled"' %}{% else %}{% set check = '' %}{% endif %}
					<li{{ check|raw }}><a href="?versionShutdown=shutdown">Tous les sites</a></li>
					<li class="divider"></li>
					{% if app.session.get('aetools').bundleName == 'LaboBundle' %}
					<li><a href="{{ url('acme_site_home') }}?versionDefine={{ app.session.get('version').slug }}">Retourner sur {{ app.session.get('version').nom }}</a></li>
					{% else %}
					<li><a href="{{ url('labo_home') }}">Administration site</a></li>
					{% endif %}
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_imageByType', {classEntite: Url_encode('image@typeImages:nom:favicon')}) }}">Favicons</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="{{ url('labo_page_User', {action: 'liste'}) }}" class="dropdown-toggle" data-toggle="dropdown">Utilisateurs<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url('labo_page_User', {action: 'liste'}) }}">Tous utilisateurs</a></li>
					<li role="presentation" class="dropdown-header">Selon statut</li>
					<li><a href="{{ url('labo_page_User', {action: 'liste', role: 'ROLE_USER'}) }}">Inscrits</a></li>
					<li><a href="{{ url('labo_page_User', {action: 'liste', role: 'ROLE_EDITOR'}) }}">Editeurs</a></li>
					<li><a href="{{ url('labo_page_User', {action: 'liste', role: 'ROLE_ADMIN'}) }}">Administrateurs</a></li>
					<li><a href="{{ url('labo_page_User', {action: 'liste', role: 'ROLE_SUPER_ADMIN'}) }}">Super Admin</a></li>
					{% if is_granted("ROLE_SUPER_ADMIN") %}
					<li class="divider"></li>
					<li><a href="{{ url('labo_check_database', {'entite': 'User'}) }}">Checking utilisateurs</a></li>
					{% endif %}
				</ul>
			</li>
			<li class="dropdown">
				<a href="{{ url('labo_stats_generic', {stat: 'general'}) }}" class="dropdown-toggle" data-toggle="dropdown">Statistiques<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<!-- <li><a href="{{ url('labo_stats_generic', {stat: 'general'}) }}">Générales</a></li> -->
					<!-- <li class="divider"></li> -->
					<!-- <li><a href="{{ url('labo_stats_generic', {stat: 'articles'}) }}">Articles</a></li> -->
					<li><a href="{{ url('labo_stats_generic', {stat: 'ventes'}) }}">Ventes</a></li>
					<!-- <li><a href="{{ url('labo_stats_generic', {stat: 'magasins'}) }}">Magasins</a></li> -->
					<!-- <li><a href="{{ url('labo_stats_generic', {stat: 'autres'}) }}">Autres pages</a></li> -->
				</ul>
			</li>
			<li class="dropdown">
				<a href="{{ url('labo_working') }}" class="dropdown-toggle" data-toggle="dropdown">e-commerce <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li role="presentation" class="dropdown-header">Articles</li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('article')}) }}">Voir articles</a></li>
					<li><a href="{{ url('labo_page_imageByType', {classEntite: Url_encode('image@typeImages:nom:article')}) }}">Images articles</a></li>
					<!-- <li><a href="{{ url('labo_page_noteEntite', {classEntite: Url_encode('article')}) }}">Notes articles</a></li> -->
					<li class="divider"></li>
					<li role="presentation" class="dropdown-header">Commandes / ventes</li>
					<li><a href="{{ url('labo_page_vente', {type: 'all'}) }}">TOUTES VENTES</a></li>
					<li><a href="{{ url('labo_page_vente', {type: 'commande'}) }}">Ventes non traitées</a></li>
					<li><a href="{{ url('labo_page_vente', {type: 'livraison'}) }}">Ventes en livraison</a></li>
					<li><a href="{{ url('labo_page_vente', {type: 'termine'}) }}">Ventes terminées</a></li>
					<li><a href="{{ url('labo_page_vente', {type: 'annule'}) }}">Ventes annulées</a></li>
					<li><a href="{{ url('labo_page_vente', {type: 'erreur'}) }}">Echecs paiement</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('partenaire')}) }}">Partenaires</a></li>
					<li><a href="{{ url('labo_page_imageByType', {classEntite: Url_encode('image@typeImages:nom:partenaire')}) }}">Photos partenaires</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('magasin')}) }}">Magasins</a></li>
					<li><a href="{{ url('labo_page_imageByType', {classEntite: Url_encode('image@typeImages:nom:magasin')}) }}">Photos magasins</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('reseau')}) }}">Réseaux</a></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('marque')}) }}">Marques</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="{{ url('labo_working') }}" class="dropdown-toggle" data-toggle="dropdown">Contenus <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('categorie')}) }}">Catégories</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('ficheCreative')}) }}">Fiches créatives</a></li>
					<li><a href="{{ url('labo_page_imageByType', {classEntite: Url_encode('image@typeImages:nom:atelier')}) }}">Images fiches</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('evenement@typeEvenement:slug:salons-foires')}) }}">Salons & Foires</a></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('evenement@typeEvenement:slug:presse')}) }}">Articles Presse</a></li>
					<li><a href="{{ url('labo_page_imageByType', {classEntite: Url_encode('image@typeImages:nom:evenement')}) }}">Images évènements</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Pages Web</li>
					<li><a href="{{ url('labo_page_entite', {action: 'liste', classEntite: Url_encode('pageweb')}) }}">Pages Web</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Contenus textes</li>
					{% for typeRichtext in entity.typeRichtext %}
					<li><a href="{{ url('labo_page_entite', {action: 'liste', classEntite: Url_encode('richtext@typeRichtexts:nom:' ~ typeRichtext.nom) }) }}">Type {{ typeRichtext.nom }}</a></li>
					{% endfor %}
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_entite', {action: 'liste', classEntite: Url_encode('tag')}) }}">Tags</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_entite', {action: 'liste', classEntite: Url_encode('collection')}) }}">Diaporamas</a></li>
					<li><a href="{{ url('labo_page_imageByType', {classEntite: Url_encode('image@typeImages:nom:diaporama')}) }}">Images diaporama</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('video')}) }}">Vidéos</a></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('fichierPdf')}) }}">Fichiers PDF</a></li>
					{% if is_granted("ROLE_SUPER_ADMIN") %}
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('image')}) }}">Toutes images</a></li>
					{% endif %}
				</ul>
			</li>
			<li class="dropdown">
				<a href="{{ url('labo_working') }}" class="dropdown-toggle" data-toggle="dropdown">Paramètres <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('statut')}) }}">Statuts</a></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('typeEvenement')}) }}">Types d'évènements</a></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('typeImage')}) }}">Types d'images</a></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('typeRichtext')}) }}">Types de textes</a></li>
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('pays')}) }}">Pays</a></li>
				</ul>
			</li>
			{% if is_granted("ROLE_SUPER_ADMIN") %}
			<li class="dropdown">
				<a href="{{ url('labo_working') }}" class="dropdown-toggle" data-toggle="dropdown">Super Admin <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url('labo_page_entite', {classEntite: Url_encode('parametre')}) }}">Paramètres</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_database') }}">Base de données</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_page_routes', {motif : 'labo_'}) }}">Routes Labo</a></li>
					<li><a href="{{ url('labo_page_routes', {motif : 'acme_site_'}) }}">Routes Site</a></li>
					<li class="divider"></li>
					<li role="presentation" class="dropdown-header">Post installation</li>
					<li><a href="{{ url('labo_richtext_links') }}">Richtexts Url/path</a></li>
					<li><a href="{{ url('labo_images_version') }}">Images Version</a></li>
					<li class="divider"></li>
					<li><a href="{{ url('labo_working') }}">Images orphelines</a></li>
					<li class="divider"></li>
					<li role="presentation" class="dropdown-header">Checkings BDD</li>
					<!-- <li><a href="{{ url('labo_check_database', {'entite': 'User'}) }}">Checking users</a></li> -->
					<li><a href="{{ url('labo_check_database', {'entite': 'article'}) }}">Checking articles</a></li>
					<li><a href="{{ url('labo_check_database', {'entite': 'facture'}) }}">Checking factures</a></li>
					<li><a href="{{ url('labo_check_database', {'entite': 'magasin'}) }}">Checking magasins</a></li>
					<li><a href="{{ url('labo_check_database', {'entite': 'ficheCreative'}) }}">Checking fich créa</a></li>
					<li><a href="{{ url('labo_check_database', {'entite': 'video'}) }}">Checking vidéos</a></li>
					<li><a href="{{ url('labo_check_database', {'entite': 'evenement'}) }}">Checking évènements</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="{{ url('labo_working') }}" class="dropdown-toggle" data-toggle="dropdown">Random data <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ url('labo_generate_random_data', {'entite': 'facture'}) }}">Générer factures</a></li>
				</ul>
			</li>
			{% endif %}
<!--		</ul>
		<ul class="nav navbar-nav navbar-right"> -->
			<li>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<p class="navbar-text navbar-right">
					<a href="{{ path('fos_user_security_logout') }}" title="Quitter"><span class="glyphicon glyphicon-user"></span>&nbsp;</a>
					<a href="{{ path('fos_user_profile_show') }}" class="navbar-link" title="Informations sur mon compte">{{ app.user.username }}&nbsp;&nbsp;</a>
				</p>
				{% else %}
				<p class="navbar-text navbar-right">
					<a href="{{ path('fos_user_security_login') }}" title="Connection à mon compte"><span class="glyphicon glyphicon-remove-sign"></span> Non connecté&nbsp;&nbsp;</a>
				</p>
				{% endif %}
				<p class="navbar-text navbar-right">
					<a href="{{ path('acme_site_home') }}?_switch_user=_exit" title="Exit SWITCH"><span class="glyphicon glyphicon-share"></span>&nbsp;</a>
				</p>
			</li>
		</ul>
	</div>
	{% elseif is_granted("ROLE_EDITOR") %}
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="{{ url('labo_page_entite', {action: 'liste', classEntite: Url_encode('pageweb')}) }}">Pages web</a></li>
			<li><a href="{{ url('labo_page_entite', {action: 'liste', classEntite: Url_encode('richtext')}) }}">Textes</a></li>
			{% if pageweb[0].id is defined %}
			<li title="Editer cette page"><a href="{{ url('labo_page_entite', {action: 'edit', classEntite: Url_encode('pageweb'), element: pageweb[0].id}) }}"><span class="glyphicon glyphicon-pencil"></span></a></li>
			{% else %}
			<!-- <li title="Page non éditable"><a href="#"><span class="glyphicon glyphicon-minus-sign"></a></span></li> -->
			{% endif %}
			<li>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<p class="navbar-text navbar-right">
					<a href="{{ path('fos_user_security_logout') }}" title="Quitter"><span class="glyphicon glyphicon-user"></span>&nbsp;</a>
					<a href="{{ path('fos_user_profile_show') }}" class="navbar-link" title="Informations sur mon compte">{{ app.user.username }}&nbsp;&nbsp;</a>
				</p>
				{% else %}
				<p class="navbar-text navbar-right">
					<a href="{{ path('fos_user_security_login') }}" title="Connection à mon compte"><span class="glyphicon glyphicon-remove-sign"></span> Non connecté&nbsp;&nbsp;</a>
				</p>
				{% endif %}
			</li>
		</ul>
	</div>
	{% endif %}
</nav>
<div style="height:50px;"></div>
{% endif %}
{% endblock nav %}
