{% block pagination %}
<form id="searchbar" class="form-inline" role="form" method="get" >
	<div class="form-group">
		{% if pag.nbpage > 0 %}
		<ul class="pagination pagination-sm">
			{% if pag.page < 2 %}{% set class = ' class="disabled"' %}{% else %}{% set class = '' %}{% endif %}
			<li{{ class|raw }}><a href="{% if class == null %}?page={{ pag.page - 1 }}&lignes={{ pag.lignes }}&ordre={{ pag.ordre }}&sens={{ pag.sens }}&searchString={{ pag.searchString }}&searchField={{ pag.searchField }}{% else %}?page=1&lignes={{ pag.lignes }}&ordre={{ pag.ordre }}&sens={{ pag.sens }}&searchString={{ pag.searchString }}&searchField={{ pag.searchField }}{% endif %}">&laquo;</a></li>
			{% set a = pag.nbpage %}
			{% for page in 1..a %}
			{% set get = "?page=" ~ page ~ "&lignes=" ~ pag.lignes ~ "&ordre=" ~ pag.ordre ~ "&sens=" ~ pag.sens %}
			{% if pag.page == page %}{% set class = ' class="active"' %}{% else %}{% set class = '' %}{% endif %}
			<li{{ class|raw }}><a href="{{ get|raw }}">{{ page }}</a></li>
			{% endfor %}
			{% if pag.page >= pag.nbpage %}{% set class = ' class="disabled"' %}{% else %}{% set class = '' %}{% endif %}
			<li{{ class|raw }}><a href="{% if class == null %}?page={{ pag.page + 1 }}&lignes={{ pag.lignes }}&ordre={{ pag.ordre }}&sens={{ pag.sens }}&searchString={{ pag.searchString }}&searchField={{ pag.searchField }}{% else %}?page={{ pag.nbpage }}&lignes={{ pag.lignes }}&	ordre={{ pag.ordre }}&sens={{ pag.sens }}&searchString={{ pag.searchString }}&searchField={{ pag.searchField }}{% endif %}">&raquo;</a></li>
		</ul>
		{% endif %}
	</div>
	<div class="form-group">
		<select id="searchField" name="searchField" class="form-control input-sm col-xs-4">
			{% for nom,MI in metaInfo %}
			{% if pag.searchField == nom %}{% set select = " selected" %}{% else %}{% set select = "" %}{% endif %}
			<option{{ select|raw }} value="{{ nom }}">{{ nom }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		{% set val1 = "mots-clés…" %}
		{% if pag.searchString != null %}{% set val2 = pag.searchString %}{% else %}{% set val2 = "" %}{% endif %}
		<label class="sr-only" for="search">Recherche…</label>
		<input type="text" id="searchString" name="searchString" class="form-control-sm" placeholder="{{ val1 }}" value="{{ val2 }}">
	</div>
	<div class="form-group">
		<select id="nblignpp" name="lignes" class="form-control input-sm col-lg-12">
			{% set listnbpp = ["10","20","50","100"] %}
			{% for nbpp in listnbpp %}
			{% if pag.lignes == nbpp %}{% set select = " selected" %}{% else %}{% set select = "" %}{% endif %}
			<option{{ select|raw }} value="{{ nbpp }}">{{ nbpp }} résultats/page</option>
			{% endfor %}
		</select>
	</div>
	<button type="submit" class="btn btn-primary btn-sm">rechercher</button>
	<a class="btn btn-primary btn-sm" href="?page={{ 1 }}&lignes={{ pag.lignes }}">Tout voir</a>
	<input type="hidden" nom="page" value="{{ pag.page }}" />
	<input type="hidden" nom="lignes" value="{{ pag.lignes }}" />
	<input type="hidden" nom="ordre" value="{{ pag.ordre }}" />
	<input type="hidden" nom="sens" value="{{ pag.sens }}" />
</form>
{% endblock pagination %}
{#
<!-- 	<form id="resetbar" class="form-inline" role="form" method="get" >
		<button type="submit" class="btn btn-primary btn-sm">Réinitialiser</button>
	</form>
 -->

<!--

pag :

	page = numéro de page
	lignes = nombre de lignes par page
	ordre = champs de tri
	sens = (ASC, DESC) sens du tri

GET :

	page = numéro de page
	lignes = nombre de lignes par page
	ordre = champs de tri
	sens = sens du tri
	+
	searchString = chaîne à rechercher
	searchField = nom du champ de recherche

-->
#}