{% if classEntite == 'image' %}
<td>
	<div class="btn-group btn-group-xs">
		<a href="{{ url(ROUTE, {action: 'edit', classEntite: Url_encode(URLclassEntite), element: ligne.id}) }}" title="Éditer" class="btn btn-default">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
<!--	 	<a href="#" title="détails">
			<span class="glyphicon glyphicon-eye-open"></span>
		</a> -->	
 		{% if (ligne.protectedOnRemove is defined) %}
		{% if ligne.protectedOnRemove != true %}
		<a href="{{ url(ROUTE, {action: 'supprime', classEntite: Url_encode(URLclassEntite), element: ligne.id}) }}" title="Supprimer" class="JSconfirm btn btn-default">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
		{% endif %}
		{% elseif is_granted("ROLE_SUPER_ADMIN") %}
		<a href="{{ url(ROUTE, {action: 'supprime-admin', classEntite: Url_encode(URLclassEntite), element: ligne.id}) }}" title="Supprimer (super admin)" class="JSconfirm btn btn-default">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
		{% elseif is_granted("ROLE_ADMIN") %}
		<a href="{{ url(ROUTE, {action: 'supprime', classEntite: Url_encode(URLclassEntite), element: ligne.id}) }}" title="Supprimer" class="JSconfirm btn btn-default">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
		{% endif %}
	</div>
</td>
{% elseif classEntite == "User" %}
<td>
	<div class="btn-group btn-group-xs">
		<a href="{{ url(ROUTE, {action: 'edit', role: role, element: ligne.id}) }}" title="Éditer" class="btn btn-default">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
<!--	 	<a href="#" title="détails">
			<span class="glyphicon glyphicon-eye-open"></span>
		</a> -->	
 		{% if (ligne.protectedOnRemove is defined) %}
		{% if ligne.protectedOnRemove != true %}
		<a href="{{ url(ROUTE, {action: 'supprime', role: role, element: ligne.id}) }}" title="Supprimer" class="JSconfirm btn btn-default">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
		{% endif %}
		{% elseif is_granted("ROLE_SUPER_ADMIN") %}
		<a href="{{ url(ROUTE, {action: 'supprime-admin', role: role, element: ligne.id}) }}" title="Supprimer (super admin)" class="JSconfirm btn btn-default">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
		<a href="{{ path('fos_user_profile_show', {'_switch_user': ligne.username}) }}" title="SWITCH (super admin)" class="btn btn-default">
			<span class="glyphicon glyphicon-user"></span>
		</a>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Changer les droits utilisateur">
			<span class="glyphicon glyphicon-random"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			{% if "ROLE_USER" in ligne.roles %}{% set off = ' class="disabled"' %}{% else %}{% set off = '' %}{% endif %}
			<li{{ off|raw }}><a href="{{ url(ROUTE, {action: 'change-roles', role: role, element: ligne.id, changeRole: 'ROLE_USER'}) }}">Utilisateur</a></li>
			{% if "ROLE_EDITOR" in ligne.roles %}{% set off = ' class="disabled"' %}{% else %}{% set off = '' %}{% endif %}
			<li{{ off|raw }}><a href="{{ url(ROUTE, {action: 'change-roles', role: role, element: ligne.id, changeRole: 'ROLE_EDITOR'}) }}">Editeur</a></li>
			{% if "ROLE_ADMIN" in ligne.roles %}{% set off = ' class="disabled"' %}{% else %}{% set off = '' %}{% endif %}
			<li{{ off|raw }}><a href="{{ url(ROUTE, {action: 'change-roles', role: role, element: ligne.id, changeRole: 'ROLE_ADMIN'}) }}">Administrateur</a></li>
			<li class="divider"></li>
			{% if "ROLE_SUPER_ADMIN" in ligne.roles %}{% set off = ' class="disabled"' %}{% else %}{% set off = '' %}{% endif %}
			<li{{ off|raw }}><a href="{{ url(ROUTE, {action: 'change-roles', role: role, element: ligne.id, changeRole: 'ROLE_SUPER_ADMIN'}) }}">SUPER ADMIN</a></li>
		</ul>
		{% elseif is_granted("ROLE_ADMIN") %}
		<a href="{{ url(ROUTE, {action: 'supprime', role: role, element: ligne.id}) }}" title="Supprimer" class="JSconfirm btn btn-default">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
		{% endif %}
	</div>
	<!-- {% for role in ligne.roles %}<p>{{ role }}</p>{% endfor %} -->
</td>
{% else %}
<td>
	<div class="btn-group btn-group-xs">
		<a href="{{ url(ROUTE, {action: 'edit', classEntite: Url_encode(URLclassEntite), element: ligne.id}) }}" title="Éditer" class="btn btn-default">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
<!--	 	<a href="#" title="détails">
			<span class="glyphicon glyphicon-eye-open"></span>
		</a> -->	
 		{% if (ligne.protectedOnRemove is defined) %}
		{% if ligne.protectedOnRemove != true %}
		<a href="{{ url(ROUTE, {action: 'supprime', classEntite: Url_encode(URLclassEntite), element: ligne.id}) }}" title="Supprimer" class="JSconfirm btn btn-default">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
		{% endif %}
		{% elseif is_granted("ROLE_SUPER_ADMIN") %}
		<a href="{{ url(ROUTE, {action: 'supprime-admin', classEntite: Url_encode(URLclassEntite), element: ligne.id}) }}" title="Supprimer (super admin)" class="JSconfirm btn btn-default">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
		{% elseif is_granted("ROLE_ADMIN") %}
		<a href="{{ url(ROUTE, {action: 'supprime', classEntite: Url_encode(URLclassEntite), element: ligne.id}) }}" title="Supprimer" class="JSconfirm btn btn-default">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
		{% endif %}
	</div>
</td>
{% endif %}