{% extends "LaboTestmanuBundle::sitePage.html.twig" %}
{% block title %}{{ parent() }} - Checking pour {{ entite }}{% endblock %}

{% block main_contain %}
{% set entiteName = "Checking" %}
{% set ssentiteName = entite %}
{% include "LaboTestmanuBundle:bloc:page-header.html.twig" %}
<div class="row">
	<!-- Corps complet -->
	{% if check.result != null %}
	<div class="list-group">
		<a class="list-group-item active">Résultats</a>
		<a class="list-group-item list-group-item-info"><p><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;{{ check.message|raw }}</p></a>
		{% for key1,op1 in check.data if check.data|length > 0 %}
		<a class="list-group-item">
			<p><strong>{{ entite }} {{ key1 }}</strong></p>
			{% for key2,op2 in op1 %}
			{% if op2.format is defined %}
			{% if op2.format == "Datetime" %}
			<p>{{ key2 }} : {{ op2.before|date('d/m/Y') }} =&gt; {{ op2.after|date('d/m/Y') }}</p>
			{% else %}
			<p>{{ key2 }} : {{ op2.before }} =&gt; {{ op2.after }}</p>
			{% endif %}
			{% else %}
			<p>{{ key2 }} : {{ op2.before }} =&gt; {{ op2.after }}</p>
			{% endif %}
			{% endfor %}
		</a>
		{% else %}
		{% if check.result == 1 %}
		<a class="list-group-item">
			<p><strong>Aucune corrections</strong>, la base est correctement entretenue.</p>
		</a>
		{% endif %}
		{% endfor %}
	</div>
	{% else %}
	<div class="well well-sm">
		<h3><span class="label label-danger">ERROR</span> Erreur checking…</h3>
		<p>{{ check.message|raw }}</p>
	</div>
	{% endif %}
</div>
{% endblock %}