{% extends "LaboTestmanuBundle::sitePage.html.twig" %}
{% block title %}{{ parent() }} - {{ action|capitalize }} {{ entiteName }}{% endblock %}

{% block main_contain %}
{% set ROUTE = 'labo_page_imageByType' %}
<div class="row">
	{% if action != 'liste' %}{% set action2 = 'annule' %}{% else %}{% set action2 = action %}{% endif %}
	{% include "LaboTestmanuBundle:bloc:page-header.html.twig" %}
	<!-- Corps complet -->
	{% if action == "liste" %}
	{% include ":common:pagination.html.twig" with {"liste": ["nom","descriptif"]} %}
	<div class="panel panel-default table-responsive">
	<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="badge">{{ pag.nbtot }}</span> {{ entiteName }}{{ plur(dataEntite) }} trouvé{{ plur(dataEntite) }}{% if pag.nbpage > 0 %} - page {{ pag.page }}/{{ pag.nbpage }} - {{ pag.lignes }} {{ entiteName }}s par page{% endif %}
			{% if souscat != null %}
			<a class="btn btn-warning btn-xs" href="{{ url(ROUTE, {action: 'creation', classEntite: Url_encode(URLclassEntite)}) }}">Créer {{ entiteName }} {{ souscat.values }}</a>
			{% else %}
			<a class="btn btn-warning btn-xs" href="{{ url(ROUTE, {action: 'creation', classEntite: Url_encode(URLclassEntite)}) }}">Créer {{ entiteName }}</a>
			{% endif %}
		</div>
		{% if pag.nbpage > 0 %}
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Image</th>
					<th>Actions</th>
					<th>Nom</th>
					<th>Descriptif</th>
					<th>Création</th>
					<th>Modif.</th>
					<th>Statut</th>
				</tr>
			</thead>
			<tbody>
			{% for ligne in dataEntite %}
				{% include "LaboTestmanuBundle:bloc:listeImageLigne.html.twig" %}
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>

	{% else %}

	{% form_theme form 'LaboTestmanuBundle:Form:bootstrap-override.html.twig' %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form action="{{ url(ROUTE, {action: action, classEntite: Url_encode(URLclassEntite), element: element}) }}" method="post" class="form" role="form" {{ form_enctype(form) }}>
					{{ form_widget(form) }}
					<div class="row col-md-12">
						<input type="submit" class="btn btn-primary btn-lg btn-block" value="Enregistrer" />
					</div>
				</form>
			</div>
		</div>
	</div>

	{% endif %}

</div>
{% endblock %}