{% extends "LaboTestmanuBundle::sitePage.html.twig" %}
{% block title %}{{ parent() }} - {{ action|capitalize }} {{ classEntite }}{% endblock %}

{% block main_contain %}
<div class="row">
	{% if action != 'liste' %}{% set action2 = 'annule' %}{% else %}{% set action2 = action %}{% endif %}
	{% set entiteName = classEntite %}
	{% set ssentiteName = action %}
	{% set comment = action2 %}
	{% include "LaboTestmanuBundle:bloc:page-header.html.twig" %}
	<!-- Corps complet -->
	{% if action == "liste" %}
	{% include "LaboTestmanuBundle:bloc:pagination.html.twig" with {"liste": ["nom","prix"]} %}
	<div class="panel panel-default table-responsive">
	<!-- Default panel contents -->
		<div class="panel-heading"><span class="badge">{{ pag.nbtot }}</span> article{{ plur(article) }} trouvé{{ plur(article) }}{% if pag.nbpage > 0 %} - page {{ pag.page }}/{{ pag.nbpage }} - {{ pag.lignes }} articles par page{% endif %}</div>
			{% if pag.nbpage > 0 %}
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Photo</th>
						<th>Actions</th>
						<th>Nom</th>
						<th>Prix HT</th>
						<th>TVA %</th>
						<th>TVA €</th>
						<th>Prix TTC</th>
						<th>Ventes</th>
						<th>Rank</th>
						<th>Note</th>
						<th>Création</th>
						<th>Modif.</th>
						<th>Expir.</th>
						<th>Réf.fabric.</th>
						<th>Réf.Site</th>
						<th>Statut</th>
					</tr>
				</thead>
				<tbody>
				{% for ligne in article %}
					{% include "LaboTestmanuBundle:bloc:listeEntiteLigne.html.twig" %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>

	{% else %}

	{% form_theme form 'LaboTestmanuBundle:Form:bootstrap-override.html.twig' %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form method="post" class="form" role="form" {{ form_enctype(form) }}>
					{{ form_widget(form) }}
					<div class="row col-md-12">
						<input type="submit" class="btn btn-primary btn-lg btn-block" value="Enregistrer" />
					</div>
				</form>
			</div>
		</div>
	</div>

	{% endif %}

</div>
{% endblock %}