{% extends "LaboTestmanuBundle::sitePage.html.twig" %}
{% block title %}{{ parent() }} - Notes {{ entiteName }}{% endblock %}

{% block main_contain %}
<div class="row">
	{% if action != 'liste' %}{% set action2 = 'annule' %}{% else %}{% set action2 = action %}{% endif %}
	{{ render(controller("LaboTestmanuBundle:Labo:pageHeader", {titre: entiteName, sstitre: action, action: action2, classEntite: classEntite})) }}
	<!-- Corps complet -->
	{% if page == "generale" %}
	{% include "LaboTestmanuBundle:bloc:pagination.html.twig" with {"liste": ["nom", "notation", "rank"]} %}
	<div class="panel panel-default table-responsive">
	<!-- Default panel contents -->
		<div class="panel-heading"><span class="badge">{{ pag.nbtot }}</span> {{ entiteName }}{{ plur(dataEntite) }} trouvé{{ plur(dataEntite) }}{% if pag.nbpage > 0 %} - page {{ pag.page }}/{{ pag.nbpage }} - {{ pag.lignes }} {{ entiteName }}s par page{% endif %}</div>
			{% if pag.nbpage > 0 %}
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Photo</th>
						<th>Actions</th>
						<th>Nom</th>
						<th>Note</th>
						<th>Rank</th>
					</tr>
				</thead>
				<tbody>
				{% for ligne in dataEntite %}
					{% include "LaboTestmanuBundle:bloc:listeNotes" ~ UCfirst(entiteName) ~ "Ligne.html.twig" %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>

	{% else %}

	<p>Autre chose…</p>

	{% endif %}
</div>
{% endblock %}