{% extends "LaboTestmanuBundle::sitePage.html.twig" %}
{% block title %}{{ parent() }} - {{ action|capitalize }} {{ entite }}{% endblock %}

{% block main_contain %}
<div class="row">
	{% if action != 'liste' %}{% set action2 = 'annule' %}{% else %}{% set action2 = action %}{% endif %}
	{{ render(controller("LaboTestmanuBundle:Labo:pageHeader", {titre: entite, sstitre: action, action: action2, entite: bundleEntite})) }}
	<!-- Corps complet -->
	{% if action == "liste" %}
	{% include "LaboTestmanuBundle:bloc:pagination.html.twig" with {"liste": ["nom","descriptif","taux"]} %}
	<div class="panel panel-default table-responsive">
	<!-- Default panel contents -->
		<div class="panel-heading"><span class="badge">{{ pag.nbtot }}</span> taux TVA trouvé{{ plur(tauxTVA) }}{% if pag.nbpage > 0 %} - page {{ pag.page }}/{{ pag.nbpage }} - {{ pag.lignes }} TVA par page{% endif %}</div>
			{% if pag.nbpage > 0 %}
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Actions</th>
						<th>Nom</th>
						<th>Descriptif</th>
						<th>Taux (%)</th>
					</tr>
				</thead>
				<tbody>
				{% for ligne in tauxTVA %}
					{% include "LaboTestmanuBundle:bloc:liste" ~ UCfirst(entite) ~ "Ligne.html.twig" %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>

	{% else %}

	{% form_theme form 'LaboTestmanuBundle:Form:bootstrap-override.html.twig' %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form method="post" class="form" role="form" {{ form_enctype(form) }}>
					{{ form_widget(form) }}
					<div class="row col-md-12">
						<input type="submit" class="btn btn-primary btn-lg btn-block" value="Enregistrer" />
					</div>
				</form>
			</div>
		</div>
	</div>

	{% endif %}

</div>
{% endblock %}