{% extends "LaboTestmanuBundle::sitePage.html.twig" %}
{% block title %}{{ parent() }} - database informations{% endblock %}

{% block main_contain %}
{% set entiteName = "Database" %}
{% set ssentiteName = "informations BDD" %}
{% include "LaboTestmanuBundle:bloc:page-header.html.twig" %}
<div class="row">
	<!-- Corps complet -->
	{% if show == "database" %}
	<!-- INFORMATIONS SUR LA BASE DE DONNÉES COMPLÈTE -->
	<div class="well well-sm"><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;Informations sur la base de données <strong>{{ dbname }}</strong></div>
	<div class="list-group">
		<a class="list-group-item active"><span class="badge">Nombre de champs</span>Entités de <i>{{ dbname }}</i></a>
		{% for key,number in database.classEntites %}
			<a class="list-group-item" href="{{ url('labo_page_database', {classEntite: number.bundleEntite}) }}">
				<span class="badge">{{ number.count }}</span>
				{% if number.options|length > 0 %}
				{% for option in number.options %}
				<span class="badge">{{ option }}</span>
				{% endfor %}
				{% else %}
				<!-- <span class="badge">Aucune option</span> -->
				{% endif %}
				{{ key }}
			</a>
		{% endfor %}
	</div>

	{% elseif show == "entite" %}
	<!-- INFORMATIONS SUR L'ENTITÉ -->
	<div class="panel panel-default table-responsive">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;Champs simples de l'entité <strong>{{ database.classInfo.className }}</strong> <i>( <a href="{{ url('labo_page_database') }}">{{ dbname }}</a> &gt; {{ database.classInfo.className }} )</i>
		</div>
		{% for nom,typs in database.classInfo %}
		<div class="panel-heading" title='{{ adminDataType(typs, false, true)|raw }}'>
			<span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;{{ nom }} <strong>{{ adminDataType(typs)|raw }}</strong>
		</div>
		{% endfor %}
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Colonne</th>
					{% for nom,typs in database.libelles %}
					{% if nom != "classInfo" %}
					<th>{{ nom }}</th>
					{% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for nom,data in database.listColumns %}
				<tr>
					<td>
						<a href="{{ url('labo_page_database_field', {classEntite: database.classInfo.className, champ: nom}) }}">{{ nom }}</a>
					</td>
					{% for nom,typs in database.libelles %}
					{% if data[typs] is defined %}
					<td>
						{% if data[typs] is iterable %}
						{% for nn,ntyps in data[typs] %}
							<span class="badge tooltipboostrap" data-toggle="tooltip" data-placement="bottom" title='{{ adminDataType(ntyps, false, true)|raw }}'>{{ nn }} : {{ adminDataType(ntyps)|raw }}</span>
						{% endfor %}
						{% else %}
						<p>{{ adminDataType(data[typs])|raw }}</p>
						{% endif %}
					</td>
					{% else %}
					<td>&nbsp;</td>
					{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	{% elseif show == "champ" %}
	<!-- INFORMATIONS UN CHAMP D'UNE ENTITÉ -->
	<div class="well well-sm">
		<span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;Informations sur le champs <strong>{{ champ }}</strong> <i>( <a href="{{ url('labo_page_database') }}">{{ dbname }}</a> &gt; <a href="{{ url('labo_page_database', {classEntite: entiteName}) }}">{{ entiteName }}</a> &gt; {{ champ }} )</i>
	</div>
	<div class="list-group">
		<a class="list-group-item active"><span class="badge">Valeur</span>{{ entiteName }} : <i><strong>{{ champ }}</strong></i></a>
		{% for key,valeur in database %}
		<a class="list-group-item" href="#"><span class="badge">{{ adminDataType(valeur)|raw }}</span>{{ key }}</a>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}