{% extends "LaboTestmanuBundle::sitePage.html.twig" %}
{% block title %}{{ parent() }} - Statistiques site{% endblock %}

{% block main_contain %}

<div class="row">
	<!-- Corps complet -->
	{{ include('LaboTestmanuBundle:bloc:statListOptions.html.twig') }}
	{{ include('LaboTestmanuBundle:bloc:statListOptionsArticles.html.twig') }}
	{% if article is defined %}
	<div class="well well-sm">
		<h4>Nombre de vues {{ anneekey }} page produit : {{ article.nom }} <small>(id {{ article.id }}/{{ article.slug }})</small></h4>
		{% for anneekey,annee in articleStat.data %}
		{% if not loop.first %}<hr />{% endif %}
		<table class="table table-striped table-hover table-condensed">
			<tr>
				<th>Semaines</th>
				{% for key,sem in annee %}
				<th>S {{ key }}{% if key == semaineEnCours %}<small>(en cours)</small>{% endif %}</th>
				{% endfor %}
			</tr>
			<tr>
				<td>Vues totales<sup>*</sup></td>
				{% for key,sem in annee %}
				<td>{{ sem|length }}</td>
				{% endfor %}
			</tr>
			<tr>
				<td>Vues uniques<sup>**</sup></td>
				{% for semU in articleStat.unique[anneekey] %}
				<td>{{ semU }}</td>
				{% endfor %}
			</tr>
			<tr>
				<td colspan="{{ articleStat.data|length }}" style="text-align:center;">
					{{ render(controller('LaboTestmanuBundle:Aelog:graphLinePlot', {data : graphs[anneekey]})) }}
				</td>
			</tr>
		</table>
		{% endfor %}
		<div class="well well-sm">
			<h4><span class="glyphicon glyphicon-comment"></span> Notice</h4>
			<p>* Totales : nombre total de fois où la page produit a été vue. Une personne peut avoir vu plusieurs fois le même produit.<br />
			** Uniques : Si une personne a vu la page produit <strong>plusieurs fois dans la même journée</strong>, elle n'est comptée qu'une fois (soit un maximum de 7 fois par semaine).</p>
		</div>
	</div>
	{% else %}
	<div class="well well-sm">
		<h4>Choisissez un article ci-dessus à analyser…</h4>
	</div>
	{% endif %}
</div>

{% endblock %}