{% extends "LaboTestmanuBundle::sitePage.html.twig" %}
{% block title %}{{ parent() }} - Statistiques ventes d'articles{% endblock %}

{% block main_contain %}

<div class="row">
	<!-- Corps complet -->
	<h2 class="well well-sm">Ventes par article <small>({{ articles|length }} article{{ plur(articles) }})</small></h2>
	<div class="well well-sm">
		<h4>Articles vendus par e-Boutique<br><small>Données valables depuis la création du site</small></h4>
		<table class="table table-striped table-hover table-condensed table-bordered">
			<tr>
				<th>&nbsp;</th>
				<th>Article</th>
				<th style="text-align:center;">Ventes</th>
				<!-- <th style="text-align:center;">Ventes enregistrées</th> -->
				<th style="text-align:right;">Ventes totales HT</th>
				<th style="text-align:right;">Ventes totales TTC</th>
			</tr>
			<tr class="danger">
				<th>&nbsp;</th>
				<td>Totaux</td>
				<td style="text-align:center;">{{ totaux.ventescalc }}</td>
				<!-- <td style="text-align:center;">Ventes enregistrées</td> -->
				<td style="text-align:right;">{{ totaux.caventesht|number_format(2, ',', '') }} €</td>
				<td style="text-align:right;">{{ totaux.caventettc|number_format(2, ',', '') }} €</td>
			</tr>
			{% for nomart,art in articles %}
			<tr>
				<td>
					{%- if art.objet.imagePpale.fichierNom is defined -%}
					<a href="{{ asset('images/optim/' ~ art.objet.imagePpale.fichierNom) }}" data-fancybox-group="gallery{{ art.objet.id }}" class="fancybox" title="{{ art.objet.imagePpale.nom }}">
						<img class="img-thumbnail" src="{{ asset('images/optim/' ~ art.objet.imagePpale.fichierNom) }}" width="48">
					</a>
					{%- for image in art.objet.images if art.objet.images is iterable -%}
					<a style="display:none;" href="{{ asset('images/optim/' ~ image.fichierNom) }}" data-fancybox-group="gallery{{ art.objet.id }}" class="fancybox vignette_fiche_produit" title="{{ image.nom }}"></a>
					{%- endfor -%}
					{%- else -%}
					<img class="img-thumbnail" src="{{ asset('bundles/acmegroupsite/images/no_article.png') }}" width="250">
					{%- endif -%}
				</td>
				<td><a href="{{ url('labo_stats_generic', {stat: 'ventes', details: art.objet.slug }) }}">{{ nomart }}</a></td>
				<td style="text-align:center;" title="Ventes en bdd : {{ art.objet.ventes }}">{{ art.ventescalc }}</td>
				<!-- <td style="text-align:center;">{{ art.objet.ventes }}</td> -->
				<td style="text-align:right;">{{ art.caventesht|number_format(2, ',', '') }} €</td>
				<td style="text-align:right;">{{ art.caventettc|number_format(2, ',', '') }} €</td>
				{# <td>{{ stat.dateCreation|date('d/m/Y \\- H:i:s') }}</td> #}
			</tr>
			{% endfor %}
			<tr class="danger">
				<th>&nbsp;</th>
				<td>Totaux</td>
				<td style="text-align:center;">{{ totaux.ventescalc }}</td>
				<!-- <td style="text-align:center;">Ventes enregistrées</td> -->
				<td style="text-align:right;">{{ totaux.caventesht|number_format(2, ',', '') }} €</td>
				<td style="text-align:right;">{{ totaux.caventettc|number_format(2, ',', '') }} €</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}